* {
    margin: 0;
    padding: 0;
}

.form {
   text-align: center;
}

.search-box {
    width: 30%;
}

.card-footer {
    padding: 1rem;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.wrapper {
    margin: 3rem auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .16);
    color: #212121;
    text-decoration: none;
    width:20%;
}

.card-header {
    display: flex;

    flex-wrap: wrap;
}

.card-title {
    padding: 1rem 1rem 0;
    font-size: 1.25rem;
    order: 1;
}

.card-thumbnail {
    margin: 0;
}

.card-image {
    width: 100%;
}

.card-body {
    padding: 1rem;
}

.card-btn {
    text-align: right;
}

.btn {
    display: inline-block;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
}

.btn.compact {
    padding: .5rem 1rem;
    border-radius: .25rem;
    background-color: orangered;
    color: #fff;
    font-weight: bold;
}

.btn.compact:hover,
.btn.compact:focus {
    background-color: indianred;
}
